.container {
    background-color: rgb(180, 209, 210);
    background-size: cover;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 6fr;
}

.dialogContainer {
    padding: 0px 90px 30px 50px;
}

.nicknames {
    padding: 30px 30px 0 70px;
    border-right: 3px solid rgb(150, 179, 170);
}